body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Color de fondo de la página */
    color:#071d9b; 
}
select{
    width: 12em;
    height: 5em;
    border-radius: 1em;
    color: #f9f9f9;
    background: rgb(40,9,128);
}
.Menu{
    margin: 1em 0em 0em 0em;
    display: flex;
    justify-content: center;
    width: 100%;
}
section{
    margin: 1em;
    padding: 0.5em;
    
    background-color: rgb(250, 245, 245);
    border-radius: 1em;
    border: solid;
    box-shadow:#071d9b;

    display: flex;
    flex-wrap:wrap;
    justify-content: center; 
    justify-self: center; 
  
}
section header {
    width: 100%;
    text-align: center;
}
article {
    /* flex: 1; */
    flex: auto;
    margin: 1em;
    padding: 0.5em;
    min-width: 15em;
    box-shadow: 0em 0.2em 0.2em 0em #2982FF;
    border-radius: 1em;
}
a{
    display:grid;
    text-decoration: none;
    color: #2881E0;
}

a:hover{
    color: rgb(116, 15, 231);
}

/*  Cabezera de pagina  */

.Header {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    color: #f9f9f9;
    background: rgb(40,9,128);
background: radial-gradient(circle, rgba(40,9,128,1) 17%, rgba(9,20,128,1) 77%, rgba(27,0,255,1) 100%);
    
}

.Header img{
    min-width: 10em;
    max-width: 25em;
    height: auto;
    margin: 1em 1em 1em 1em ;
    border-radius: 0.2em;
}
.Header dialog {
    max-width: 40em;
}
.Header h1{
    text-align: center;
}

/* 
Informacion Importante 
*/

.Informacion{
    display: inline-flex;
    justify-content: center;
}
.Informacion section{
    max-width:  30%;
}
.Informacion div{
    padding: 0.5em;
}

#Enfasis{
    width: 100%;
    size: 12px;
    text-align: center;
    color: #14113f;
}

#Icono{
    display: flex; align-items: center;
}
#Icono {
    display: flex; align-items: center;
}

